@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #5044E5;
}

.reset-tw,
.reset-tw * {
    all: revert !important;
}

/* Clerk Components */

.cl-drawerRoot {
    z-index: 9999 !important;
}

.cl-drawerContent {
    top: 56px !important;
    height: calc(100vh - 56px) !important;
}

.cl-modalBackdrop {
    top: 56px !important;
    height: calc(100vh - 56px) !important;
}